#### Create a pandas series having values 4, 7, -5, 3, NAN and their index as d, b, a, c, e

In [4]:
# Write a code here
import pandas as pd

data={'d': 4,'b': 7,'a':-5,'c':3,'e':'NAN'}

pd.Series(data)

d      4
b      7
a     -5
c      3
e    NAN
dtype: object